/*******************************************************************
********************************************************************
                    MAIN COMPONENT STYLING
********************************************************************
********************************************************************/


#location-form {
    margin-top: 3%;
}

#response-weather-container {
    margin-top: 3%;
    margin-left: 45%;
}

#prev-responses-weather-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 4%;
    overflow: auto;
    /* column-gap: 5px; */
    flex: 1;
    flex-wrap: wrap;
}

.prev-box {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
}

.submit_error_message {
    color: red;
    font-size: 9pt;
}

/*******************************************************************
********************************************************************
                RESPONSE WEATHER CARD STYLING
********************************************************************
********************************************************************/

.forecast-card {
    position: relative;
    border: 0.25px solid;
    border-radius: 5%;
    font-family: 'Helvetica', sans-serif;
    width: 10em;
    height: 13em;
}

.forecast-flex {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally (center on cross axis -- rows) */
    box-shadow: 5pt;
    column-gap: 25px;
}

.forecast-close {
    position: absolute; /* Absolutely positioned menu elements won't push the page content. */
    font-size: 18px;
    right: 1px;
    color: red;
    background: none; 
    border: none; 
    cursor:pointer;
}

.forecast-header-text {
    font-weight: 500;
}

.forecast-img {
    /* padding: 5%; */
}

.forecast-text {
    text-align: center;
}

.forecast-data {
    padding-top: 15%;
}