<!-- User enters location information to get weather details about-->
<form action="{{ url_for('api.get_weather_forecast') }}" method="get" id="location-form" style="text-align: center;"> 
    <label>Enter the city of your choice: </label>
    <input name="city_name" type="text" placeholder="City Name" required/>
    <input type="submit">
</form>

<!-- This is where we show the result in card form -->
<div id="response-weather-container"> 
    {% include 'response-weather-card.html' %}
</div>

<!-- This is where we show the past results -->
<div style="margin-left: 3%; font-weight: 500;"> Saved searches: </div> 
<div id="prev-responses-weather-container">
    <div> {% include 'prev-responses-weather-container.html' %} </div>
</div>